.dayTab {
  position: relative;
  padding: 30px 0 0;
}

.buttonAdd {
  position: absolute;
  right: 90px;
  top: -50px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}

.buttonClear {
  position: absolute;
  right: 10px;
  top: -50px;
  margin-top: 10px;
  margin-left: 10px;
}
